$maximum-width: 500px;

.container {
  margin: auto;
  max-width: $maximum-width;
  font-size: 1.2rem;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;

  .title {
    grid-column: 1/2;
  }

  .links {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .feedback,
    .tricks {
      margin: 0.25rem;
      text-align: right;
      text-transform: uppercase;
      font-size: 14px;

      a {
        color: #673ab7;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.help-graphic {
  margin-top: 1rem;
}

form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;

  .rack {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .starts {
    grid-column: 1/2;
    grid-row: 2;
  }

  .contains {
    grid-column: 2/3;
    grid-row: 2;
  }

  .ends {
    grid-column: 3/4;
    grid-row: 2;
  }

  .clear-field-icon {
    font-size: 75% !important;
    cursor: pointer;
  }

  .buttons {
    grid-column: 1/-1;
    grid-row: 3;
    height: 2.5rem;
    width: 350px;
    justify-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;

    .clear-button {
      color: #666666;
    }
    .toggle {
      font-size: .8rem;
    }
  }
}

.ad,
.plug,
.show-initial {
  font-size: 0.9rem;
  text-align: left;
  margin-top: 0;
}

.results {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  & > div {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1.2rem;
  }
}

.word-length {
  cursor: default;
}

.note {
  border-top: 1px #dedede solid;
  border-bottom: 1px #dedede solid;
}
