/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  margin: 1rem;
}

.mat-form-field-infix {
  width: auto !important;
}

.primary {
  color: #673ab7;
}
